*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0C0E1E;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
}